---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
//import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Cómo surge el proyecto"
    image={{
      src: '~/assets/images/PrimerosTest.png',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      BUSCAMOS UN CREAR UN JUEGO QUE TE AYUDE A SER FIT MIENTRAS TE DIVIERTES<br />
      <div class="'w-full flex justify-center gap-x-10">
        <a
          href="https://github.com/VictorQuicano/Cat_THE-PROJECT/blob/main/Proyecto%20HCI%20(Dance).pdf"
          class="hover:cursor-pointer font-semibold text-base tracking-wide underline text-gray-400 hover:text-gray-600 flex flex-col items-center my-4"
        >
          <img
            src="https://play-lh.googleusercontent.com/hoJp176QsxUS8k5O0i0VeX6V5QX1ywx90YxPckWjyjN7_qXwMBhSMdH6TkPwci9mkw=w240-h480-rw"
            alt="Documento "
            class="w-20"
          />
          <p>Documento</p>
        </a>
        <a
          href="https://docs.google.com/presentation/d/1I7arb5677eM1U-U5AxAtmD1LZ-3KV0rC/edit?usp=sharing&ouid=100870653025212873134&rtpof=true&sd=true"
          class="hover:cursor-pointer font-semibold text-base tracking-wide underline text-gray-400 hover:text-gray-600 flex flex-col items-center my-4"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Google_Slides_2020_Logo.svg/800px-Google_Slides_2020_Logo.svg.png"
            alt="Slides "
            class="w-14"
          />
          <p>Necesidades</p>
        </a>
      </div>
    </Fragment>

    <Fragment slot="subtitle">
      La falta de motivación y ver el ejercicio, aún más el baile, como una obligación hacen que muchos lo abandonen.
      Hace falta encontrar formas más entretenidas y frescas que vuelvan el ejercicio algo motivador y constante.
    </Fragment>
  </Hero>
  <!-- Stats Widget ****************** -->
  <!--
    <Stats
    title="Statistics about us"
    stats={[
    { title: 'Offices', amount: '4' },
    { title: 'Employees', amount: '248' },
    { title: 'Templates', amount: '12' },
    { title: 'Awards', amount: '24' },
    ]}
    />
    -->

  <!-- Features3 Widget ************** -->

  <Features3
    title="NUESTRO OBJETIVO"
    subtitle="Crear un videojuego que convierta el ejercicio en una experiencia inmersiva y divertida, motivando a los usuarios a mantenerse activos sin rutina.."
    columns={2}
    isBeforeContent={true}
    items={[
      {
        title: 'Personas con interés en el entretenimiento',
        description:
          'Usuarios que buscan diversión y una experiencia de juego relajada sin presiones de ejercicio. El juego será sencillo, accesible y centrado en la diversión.',
        icon: 'tabler:template',
      },
      {
        title: 'Usuarios con interés moderado en actividad física',
        description:
          'Personas conscientes de los beneficios del ejercicio que desean mantenerse activos. El juego combinará actividad física y entretenimiento, con una dificultad accesible y no tan exigente como una rutina de gimnasio.',
        icon: 'tabler:template',
      },
      {
        title: 'Usuarios que buscan desafíos físicos intensos',
        description:
          'Usuarios con experiencia en ejercicio o baile que buscan un reto físico para mejorar su resistencia y habilidades. Se les ofrecerán niveles avanzados y desafíos adaptados a sus capacidades.',
        icon: 'tabler:template',
      },
      {
        title: 'Personas con interés en mejorar la psicomotricidad',
        description:
          'Usuarios que prefieren una actividad de baja intensidad, enfocada en movimientos específicos para mejorar la coordinación y habilidades motoras, sin demandar un esfuerzo físico elevado.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: '~/assets/images/vr_image.png',
      alt: 'Colorful Image',
    }}
  />

  <!-- Features3 Widget ************** -->

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="¿A quiénes buscamos ayudar?"
    subtitle="Nuestro publico objetivo puede contar con una o varias de las siguientes características:"
    items={[
      {
        title: 'Interés en entretenimiento',
        description: 'Buscan divertirse y jugar sin presión de ejercicio; el juego debe ser sencillo y accesible.',
      },
      {
        title: 'Interés moderado en actividad',
        description: 'Quieren mantenerse activos con una experiencia lúdica menos rigurosa que el gimnasio.',
      },
      {
        title: 'Desafíos físicos intensos',
        description: 'Usuarios experimentados que desean mejorar habilidades y condición física con retos avanzados.',
      },
      {
        title: 'Mejora de psicomotricidad',
        description: 'Prefieren actividades de baja intensidad para trabajar habilidades motoras y coordinación.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->
  <!--
        <Steps2
          title="Achievements"
          subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
          isReversed={true}
          callToAction={{
            text: 'See more',
            href: '/',
          }}
          items={[
            {
              title: 'Global reach',
              description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
              icon: 'tabler:globe',
            },
            {
              title: 'Positive customer feedback and reviews',
              description:
                'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
              icon: 'tabler:message-star',
            },
            {
              title: 'Awards and recognition as industry experts',
              description:
                'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
              icon: 'tabler:award',
            },
          ]}
        />
   -->

  <!-- Features2 Widget ************** 
  
  <Features2
  title="Our locations"
  tagline="Find us"
  columns={4}
  items={[
  {
    title: 'EE.UU',
    description: '1234 Lorem Ipsum St, 12345, Miami',
  },
  {
    title: 'Spain',
    description: '5678 Lorem Ipsum St, 56789, Madrid',
  },
  {
    title: 'Australia',
    description: '9012 Lorem Ipsum St, 90123, Sydney',
  },
  {
    title: 'Brazil',
    description: '3456 Lorem Ipsum St, 34567, São Paulo',
  },
  ]}
  />
  -->

  <!-- Features2 Widget ************** 
  
  <Features2
  title="Technical Support"
  tagline="Contact us"
  columns={2}
  items={[
  {
    title: 'Chat with us',
    description:
    'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
    icon: 'tabler:messages',
  },
  {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
    />
    -->
</Layout>
