---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
//import Stats from '~/components/widgets/Stats.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};

const biblio = [
  {
    title: 'The use of virtual reality to influence motivation, affect, enjoyment, and engagement during exercise',
    description:
      'Mouatt, B., Smith, A. E., Mellow, M. L., Parfitt, G., Smith, R. T., & Stanton, T. R. (2020). The use of virtual reality to influence motivation, affect, enjoyment, and engagement during exercise: A scoping review. Frontiers in Virtual Reality',
    link: 'https://doi.org/10.3389/frvir.2020.564664',
  },
  {
    title: 'Attractiveness of game elements',
    description:
      'Qin, Y. (2021). Attractiveness of game elements, presence, and enjoyment of mobile augmented reality games: The case of Pokémon Go. Telematics and Informatics, 62, 101620',
    link: 'https://doi.org/10.1016/j.tele.2021.101620',
  },
  {
    title: 'The bright and dark sides of motivation as predictors of enjoyment, intention, and exercise persistence.',
    description:
      'Rodrigues, F., Teixeira, D. S., Neiva, H. P., Cid, L., & Monteiro, D. (2019). The bright and dark sides of motivation as predictors of enjoyment, intention, and exercise persistence. Scandinavian Journal of Medicine and Science in Sports, 30(4), 787–800',
    link: 'https://doi.org/10.1111/sms.13617',
  },
  {
    title: 'Small-Sided Games are More Enjoyable Than High-Intensity Interval Training of Similar Exercise Intensity',
    description:
      'Selmi, O., Ouergui, I., Levitt, D. E., Nikolaidis, P. T., Knechtle, B., & Bouassida, A. (2020). Small-Sided Games are More Enjoyable Than High-Intensity Interval Training of Similar Exercise Intensity in Soccer Open Access Journal of Sports Medicine, Volume 11, 77–84',
    link: 'https://doi.org/10.2147/oajsm.s244512',
  },
];
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Objetivo"
    image={{
      src: '~/assets/images/astronauta_bailando_3.png',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      BUSCAMOS UN CREAR UN JUEGO QUE TE AYUDE A SER FIT MIENTRAS TE DIVIERTES<br />
      <!-- <div class="'w-full flex justify-center gap-x-10">
        <a
          href="https://github.com/VictorQuicano/Cat_THE-PROJECT/blob/main/Proyecto%20HCI%20(Dance).pdf"
          class="hover:cursor-pointer font-semibold text-base tracking-wide underline text-gray-400 hover:text-gray-600 flex flex-col items-center my-4"
        >
          <img
            src="https://play-lh.googleusercontent.com/hoJp176QsxUS8k5O0i0VeX6V5QX1ywx90YxPckWjyjN7_qXwMBhSMdH6TkPwci9mkw=w240-h480-rw"
            alt="Documento "
            class="w-20"
          />
          <p>Documento</p>
        </a>
        <a
          href="https://docs.google.com/presentation/d/1I7arb5677eM1U-U5AxAtmD1LZ-3KV0rC/edit?usp=sharing&ouid=100870653025212873134&rtpof=true&sd=true"
          class="hover:cursor-pointer font-semibold text-base tracking-wide underline text-gray-400 hover:text-gray-600 flex flex-col items-center my-4"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Google_Slides_2020_Logo.svg/800px-Google_Slides_2020_Logo.svg.png"
            alt="Slides "
            class="w-14"
          />
          <p>Necesidades</p>
        </a>
        <a
          href="https://drive.google.com/drive/folders/1A5NRwBOeDtxBwTG_pA8OFuDAjySHJ8o2?usp=sharing"
          class="hover:cursor-pointer font-semibold text-base tracking-wide underline text-gray-400 hover:text-gray-600 flex flex-col items-center my-4"
        >
          <img
            src="https://cdn.iconscout.com/icon/free/png-256/free-google-drive-7662285-6297221.png?f=webp"
            alt="Slides "
            class="w-20"
          />
          <p>Grabaciones</p>
        </a>
      </div> -->
    </Fragment>

    <Fragment slot="subtitle">
      Actualmente, muchas personas desean mantener una rutina de ejercicio regular, pero la falta de motivación a menudo convierte el ejercicio, y especialmente el baile, en una tarea tediosa que rápidamente abandonan. Es necesario explorar enfoques innovadores y atractivos que transformen el ejercicio en una experiencia divertida y placentera.
    </Fragment>
  </Hero>
  <!-- Stats Widget ****************** -->
  <!--
    <Stats
    title="Statistics about us"
    stats={[
    { title: 'Offices', amount: '4' },
    { title: 'Employees', amount: '248' },
    { title: 'Templates', amount: '12' },
    { title: 'Awards', amount: '24' },
    ]}
    />
    -->
  <Hero
    tagline="Idea"
    title="Concepto"
    subtitle="El prototipo incial de la idea probado con usuarios"
    videoLink="https://drive.google.com/file/d/1jDmNIOy4TYh7bK0UShZ4ChXR-RLSsOQv/preview"
  />
  
  
  <!-- Steps2 Widget ****************** -->
  
  <!-- <Steps2
    title="¿A quiénes buscamos ayudar?"
    subtitle="Nuestro publico objetivo puede contar con una o varias de las siguientes características:"
    items={[
      {
        title: 'Interés en entretenimiento',
        description: 'Buscan divertirse y jugar sin presión de ejercicio; el juego debe ser sencillo y accesible.',
      },
      {
        title: 'Interés moderado en actividad',
        description: 'Quieren mantenerse activos con una experiencia lúdica menos rigurosa que el gimnasio.',
      },
      {
        title: 'Desafíos físicos intensos',
        description: 'Usuarios experimentados que desean mejorar habilidades y condición física con retos avanzados.',
      },
      {
        title: 'Mejora de psicomotricidad',
        description: 'Prefieren actividades de baja intensidad para trabajar habilidades motoras y coordinación.',
      },
    ]}
  /> -->

  <Steps
    title="La Bibliografía"
    tagline="Nos fundamenta"
    isReversed={true}
    items={biblio}
    numberList
    image={{
      src: 'https://media1.tenor.com/m/KyLkCcKPaa8AAAAC/cat-reading.gif',
      alt: 'Steps image',
    }}
  />

  <!-- Steps2 Widget ****************** -->
  <!--
        <Steps2
          title="Achievements"
          subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
          isReversed={true}
          callToAction={{
            text: 'See more',
            href: '/',
          }}
          items={[
            {
              title: 'Global reach',
              description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
              icon: 'tabler:globe',
            },
            {
              title: 'Positive customer feedback and reviews',
              description:
                'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
              icon: 'tabler:message-star',
            },
            {
              title: 'Awards and recognition as industry experts',
              description:
                'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
              icon: 'tabler:award',
            },
          ]}
        />
   -->

  <!-- Features2 Widget ************** 
  
  <Features2
  title="Our locations"
  tagline="Find us"
  columns={4}
  items={[
  {
    title: 'EE.UU',
    description: '1234 Lorem Ipsum St, 12345, Miami',
  },
  {
    title: 'Spain',
    description: '5678 Lorem Ipsum St, 56789, Madrid',
  },
  {
    title: 'Australia',
    description: '9012 Lorem Ipsum St, 90123, Sydney',
  },
  {
    title: 'Brazil',
    description: '3456 Lorem Ipsum St, 34567, São Paulo',
  },
  ]}
  />
  -->

  <!-- Features2 Widget ************** 
  
  <Features2
  title="Technical Support"
  tagline="Contact us"
  columns={2}
  items={[
  {
    title: 'Chat with us',
    description:
    'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
    icon: 'tabler:messages',
  },
  {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
    />
    -->
</Layout>
