---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features4 from '~/components/widgets/Features4.astro';
//import Features2 from '~/components/widgets/Features2.astro';
//import Steps from '~/components/widgets/Steps.astro';
//import Content from '~/components/widgets/Content.astro';
//import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
//import FAQs from '~/components/widgets/FAQs.astro';
//import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import TitleGradient from '~/components/ui/TitleGradient.astro';
import { Image } from 'astro:assets';

const metadata = {
  title: 'Conoce más de Cut The Cat',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get game',
        href: '#',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image-2.png', alt: 'Astro with cats', class: 'pulse' }}
  >
    <Fragment slot="title">
      <img src="/imgs/Logo.png" alt="Cut The Cat" class="w-1/2 mx-auto" />
      <TitleGradient text="CUT THE CAT" subtitle="¡Defiende la tierra con estilo!" />
    </Fragment>

    <Fragment slot="subtitle">
      Muévete y siente el ritmo defendiendo la galaxia de una invasión gatuna. Una experiencia que combina el entretenimiento con la actividad física.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features4
    id="features"
    tagline="Características"
    title="¿POR QUÉ JUGAR CUT THE CAT?"
    subtitle="Este juego está diseñado para adaptarse a una amplia variedad de usuarios con diferentes intereses y niveles de habilidad en la actividad física y el baile."
    items={[
      {
        title: 'LO MEJOR DE 2 MUNDOS',
        description:
          'Disfruta de una experiencia completa que combina lo mejor del móvil y la realidad virtual.',
        icon: 'tabler:augmented-reality-2',
        image: { src: '/imgs/movil_vr_16-9.jpg', alt: 'Celular más VR' },
      },
      {
        title: 'SIENTE CADA MOVIMIENTO',
        description:
          'Muévete, gira y sigue el ritmo. Puedes sentir cada movimiento que realizas ¡Una verdadera experiencia inmersiva!',
        icon: 'tabler:cardboards',
        image: { src: '/imgs/movement_dark.webp', alt: 'Movimiento' },
      },
      {
        title: 'NO ESTÁS SOLO',
        description:
          '¡Siempre a tu lado! Defiende la galaxia junto a tu fiel compañero y hazle frente a la invasión gatuna.',
        icon: 'tabler:brand-baidu',
        image: { src: '/imgs/dog_16-9.png', alt: 'Perrito' },
      },
      {
        title: 'PONLE TU TOQUE',
        description:
          'Gana monedas por tu destreza y personaliza tu mascota con objetos únicos ¡Un estilo del otro mundo!',
        icon: 'tabler:crown',
        image: { src: '/imgs/spatial_dog.png', alt: 'Perrito Espacial' },
      },
      {
        title: 'ELIGE TUS CANCIONES FAVORITAS',
        description:
          'Conéctate a Spotify o Apple Music y juega rutinas de baile con tus canciones más escuchadas.',
        icon: 'tabler:music-heart',
        image: { src: '/imgs/spotify_apple-music.webp', alt: 'Spotify y Apple Music' },
      },
      {
        title: 'ENCUENTRA TU RETO IDEAL',
        description:
          '¿Eres un jugador casual que solo desea divertirse? ¿O buscas un reto que desafíe tus límites? Prefieras lo que prefieras siempre habrá una rutina perfecta para ti.',
        icon: 'tabler:fall',
        image: { src: '/imgs/baile.jpg', alt: 'Baile' },
      },
    ]}
  />

  <div class="bg-[#111111] w-full py-10 px-4 flex flex-wrap justify-center items-center gap-8">
    <div class="w-full">
      <h3 class="w-full text-4xl font-bold uppercase text-center">🛡️ Desarrollado por 💻</h3>
      <h3 class="w-full text-gray-400 text-xl font-semibold text-center">De los mismo que jugaron LOL</h3>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg max-h-[280px] min-w-full object-cover" src="imgs/Victor.jpg" alt="Victor Quicaño"/>
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Victor Quicaño</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Estudiante de Ciencia de la Computacion, desarrollador full-stack y QA.
        </p>
        <a
          href="https://github.com/VictorQuicano"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Github
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="24"
            height="24"
            stroke-width="2"
          >
            <path d="M8 9l3 3l-3 3"></path>
            <path d="M13 15l3 0"></path>
            <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
          </svg>
        </a>
      </div>
    </div>

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg max-h-[280px] min-w-full object-cover" src="imgs/Edu.jpg" alt="Eduardo Ruiz" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Eduardo Ruiz</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Estudiante de Ciencia de la Computacion, desarrollador full-stack y experto en UI/UX.
        </p>
        <a
          href="https://github.com/EGRM23"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
        >
          Github
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="24"
            height="24"
            stroke-width="2"
          >
            <path d="M8 9l3 3l-3 3"></path>
            <path d="M13 15l3 0"></path>
            <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <!-- Content Widget **************** -->
  <!--
  <Content
    isReversed
    tagline="Inside template"
    title="AstroWind's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Built on top of Astro 4.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  -->
  <!-- Content Widget **************** -->
  <!--
  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  -->
  <!-- Content Widget **************** -->
  <!-- 
    <Content
      isReversed
      isAfterContent
      items={[
        {
          title: 'Enhanced user engagement',
          description:
            'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
        },
        {
          title: 'Continuous improvement',
          description:
            'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
        },
        {
          title: 'Time and resource efficiency',
          description:
            'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
        },
        {
          title: 'Community support',
          description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
        },
      ]}
      image={{
        src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'Astronauts Image',
      }}
    >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  -->

  <!-- Steps Widget ****************** -->
  <!---
  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />
  -->
  <!-- Features2 Widget ************** -->

  <!---
  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
    -->
  <!-- HighlightedPosts Widget ******* -->
  <!--
  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />
   -->

  <!-- FAQs Widget ******************* -->
  <!--
  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />
   -->
  <!-- Stats Widget ****************** -->

  <!--
  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />
  -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Mira un poco de nuestro código',
        href: 'https://github.com/VictorQuicano/Final_Cut-The-Cat',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title"> ¿Cómo lo hicimos? </Fragment>

    <Fragment slot="subtitle">
      Con mucho amor, esfuerzo, consultas a expertos. <br class="hidden md:inline" />Y usando unity.
    </Fragment>
  </CallToAction>
</Layout>
