---
//import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
//import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import { ContentSchemaContainsSlugError } from 'node_modules/astro/dist/core/errors/errors-data';

const metadata = {
  title: 'Momentos Interesantes',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Opiniones y Necesidades de"
    title="Usuarios"
    subtitle="Descubre las necesidades y opiniones de los usuarios en el baile."
    image={{
      src: 'https://64.media.tumblr.com/afa591701e233beb72299df575be0ab6/tumblr_mfwc5870Ml1rlnlvyo1_400.gif',
      alt: 'Cat Typing',
    }}
  />
  <Steps2
    id="formulario"
    title="쮺칩mo obtuvimos los datos?"
    subtitle="Realizamos una encuesta a 20 personas separandolas en 4 grupos."
    callToAction='<div class="flex justify-around"><a class="flex flex-col hover:font-bold hover:underline" href="https://forms.gle/wGteDE6kzga5gKFA7" target="_blanck"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Google_Forms_2020_Logo.svg/436px-Google_Forms_2020_Logo.svg.png" class="w-28" alt="formulario"/><p class="w-full text-center font-semibold">Encuesta</p></a><a class="flex flex-col hover:font-bold hover:underline" href="https://docs.google.com/spreadsheets/d/1cyqgbNhLLQ06j0CBAoYMcerO63XH3YQEOUnqDUKIxxo/edit?usp=sharing" target="_blanck"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Google_Sheets_2020_Logo.svg/1200px-Google_Sheets_2020_Logo.svg.png" class="w-28" alt="formulario"/><p class="w-full text-center font-semibold">Resultados</p></a></div>'
    items={[
      {
        title: 'Usuario Frecuente',
        description: 'Aquellos personas que practican normalmente y disfrutan de hacerlo.',
      },
      {
        title: 'Lo hago, pero meh! 游눣',
        description: 'Bailan solo para no pasar verg칲enza o no les interesa.',
      },
      {
        title: 'Quiero Aprender',
        description: 'No practican, pero es algo que les gustar칤a aprender.',
      },
      {
        title: 'No me interesa',
        description: 'Prefieren no saber nada de la actividad.',
      },
    ]}
  />
  <Testimonials
    id="usuarios"
    title="Principales Encuestados"
    testimonials={[
      {
        testimonial: `Lo que me gusta de JUST DANCE es que las figuras, pero no me gustan que muchos de los pasos son repetitivos.`,
        name: 'Marisol',
        job: 'Estudiante',
        image: {
          src: '~/assets/images/Marisol.png',
          alt: 'Marisol Paredes',
        },
      },
      {
        testimonial: `Me gustar칤a aprender a bailar, para poder seguir el paso a mis amigos y no pasar roche, pero no puedo hacerlo con las canciones que a m칤 me gustan.`,
        name: 'Sarahi Ochochoque',
        job: 'Estudiante',
        image: {
          src: 'https://z-p3-scontent.flim4-2.fna.fbcdn.net/v/t39.30808-1/464580311_8310061829117085_876501589728211161_n.jpg?stp=dst-jpg_s100x100&_nc_cat=100&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeF_rsFKC3mzKw-5_nfzbvDK9gJG4cKVmk_2AkbhwpWaT6xHQbVnI073bhx-g7dZOPb_gGp17c9MaDVXDkRZ5ZRx&_nc_ohc=sjvG4TIeqP4Q7kNvgEcWhX4&_nc_zt=24&_nc_ht=z-p3-scontent.flim4-2.fna&_nc_gid=AKw0ZXNbJJdFDV2BVJ0emg6&oh=00_AYBHw7XD8WaAAiUrNNcMLK82e1hjV0xQJJpF_yIuSGwZ8A&oe=674E4346',
          alt: 'Sarahi Ochochoque',
        },
      },
      {
        testimonial: `La mejor parte de bailar es cuando realizas una coreograf칤a y recibes el apoyo de tus compa침eros, a veces cuando no nos sal칤a un paso ibamos juntos a practicarlo.`,
        name: 'Mary',
        job: 'Estudiante de Administraci칩n',
        image: {
          src: 'https://z-p3-scontent.flim4-3.fna.fbcdn.net/v/t39.30808-6/375045819_2633109933522252_9101315711399055684_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEBDbw3C5QpBAohBEBb88DghTHu0LzwAYWFMe7QvPABhSwuGG5Qo1n8OJ621X3XTbVmySLnOUA3kKW-2XG8MUEs&_nc_ohc=EViQUgnpN_oQ7kNvgGR3w_W&_nc_zt=23&_nc_ht=z-p3-scontent.flim4-3.fna&_nc_gid=A96hmiIY9UD_jvRRGMd2aZX&oh=00_AYAzJDBJHcRt_ulmD9JqExGTT43uT91mMzI3ANiXAouSRQ&oe=674E4EF2',
          alt: 'Mary Gonzales',
        },
      },
    ]}
  />
  <div class="flex flex-col justify-center items-center mt-10 mb-20 mx-5 md:mx-40">
    <h1 class="text-4xl font-bold text-center">Entrevistas con usuarios</h1>
    <p class="text-gray-500 text-center mt-4 mb-8">
      Tanto Marisol, Sarahi y Mary son estudiantes universitarios. Las 3 interesadas en el baile,sin embargo por el
      momento solo Marisol practica. A continuaci칩n se presentan las entrevistas realizadas a cada una de ellas.
    </p>
    <div class="flex flex-wrap justify-center items-center gap-10">
      <div
        class="w-full flex flex-col justify-center items-center border border-[#111111] bg-[#292929] rounded-lg max-w-fit"
      >
        <iframe
          src="https://drive.google.com/file/d/1xkO2equTWCsCdKje00SwdYVOf4aas14t/preview"
          allow="autoplay"
          class="rounded-lg"></iframe>
        <h4 class="hover:underline mt-0">Entrevista a Sarahi</h4>
      </div>
      <div
        class="w-full flex flex-col justify-center items-center border border-[#111111] bg-[#292929] rounded-lg max-w-fit"
      >
        <audio controls>
          <source src="/imgs/Entrevista_Marisol.mp3" type="audio/mpeg" />
        </audio>
        <h4 class="hover:underline mt-0">Entrevista con Marisol</h4>
      </div>
    </div>
  </div>
  <!-- Features2 Widget **************
  
  <Features2
  title="Explore our diverse templates"
  subtitle="Discover our selection below to streamline and elevate your projects."
  columns={3}
  items={[
  {
        title: 'Educational',
        description:
        'By harmonizing instructional design and visual appeal, templates streamline content creation for varied materials, expediting development and cultivating engaging educational spaces.',
        icon: 'tabler:school',
      },
      {
        title: 'Interior Design',
        description:
        'Crafting functional, visually appealing spaces for residential and commercial use. Templates emphasize layout, colors, and furniture setups, offering a versatile toolkit for your design vision.',
        icon: 'tabler:home-star',
      },
      {
        title: 'Photography',
        description: `Empowering photographers, our templates facilitate captivating storytelling. With a keen focus on layout, galleries, and typography, they cater to both professionals and enthusiasts.`,
        icon: 'tabler:photo',
      },
      {
        title: 'E-commerce',
        description:
        'Developing engaging online stores, our E-commerce templates ensure a dynamic presence to effectively showcase products. Ideal for startups or revamps.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Blog',
        description:
        'With attention to typography, these templates empower effective content presentation for writers at any stage, ensuring visually engaging and user-friendly blogs.',
        icon: 'tabler:article',
      },
      {
        title: 'Business',
        description:
        'Providing polished options for effective visual communication, these templates empower both startups and established companies for a professional brand presence.',
        icon: 'tabler:building-store',
      },
      {
        title: 'Branding',
        description:
        'Offering pre-designed elements for a consistent brand identity, including logos and marketing materials. Ideal for new ventures or revamps.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Medical',
        description: `From presentations to patient forms, these tools enhance communication effectiveness for healthcare professionals. Ideal for medical practices and research pursuits.`,
        icon: 'tabler:vaccine',
      },
      {
        title: 'Fashion Design',
        description:
        'With attention to detail, customization, and contemporary design, they empower designers to showcase ideas cohesively. Ideal for all levels of designers.',
        icon: 'tabler:tie',
      },
      ]}
      />
      
      -->
  <!-- Content Widget **************** -->

  <Content
    id="necesidades"
    isAfterContent
    items={[
      {
        title: 'Practicar el bailar, sin depender de un horario o espacio definido',
        description:
          'Los usuarios necesitan una opci칩n pr치ctica que no depende de horarios o espacios fijos, como clases programadas o salidas en lugares distantes.',
        icon: 'tabler:karate',
      },
      {
        title: 'Mantener una pr치ctica y rutina de baile constante',
        description:
          'Los usuarios necesitan una manera de impulsarlos a que practiquen de forma continua, evitando periodos largos de inactividad.',
        icon: 'tabler:stretching-2',
      },
      {
        title: 'Percibir confianza, seguridad y privacidad al momento de practicar',
        description:
          'Los usuarios deben sentirse c칩modos, no vigilados, ni juzgados de acuerdo a lo que hacen, al contrario, deben tener un impulso para hacerlo mejor.',
        icon: 'tabler:mood-wink-2',
      },
      {
        title: 'Mejorar la coordinaci칩n antes de empezar una nueva rutina',
        description:
          'Los usuarios necesitan prepararse a manera de calentamiento antes de empezar una nueva rutina, eso ayuda a que est칠n m치s coordinados.',
        icon: 'tabler:karate',
      },
    ]}
    image={{
      src: '~/assets/images/Julie_baile.png',
      alt: 'Features Image',
      class: 'mt-20 min-h-full',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Necesidades de los usuarios</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** 
  -->
  <Content
    classes={{ container: 'mt-0' }}
    isReversed
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
    items={[
      {
        title: 'Aprender a bailar ritmos que me gustan o ya conozco',
        description:
          'Tanto los pasos como la m칰sica deben ser llamativos para el  usuario (ritmos contempor치neos o canciones conocidas que deben complementarse con los pasos a  ejecutar).',
        icon: 'tabler:brand-bandlab',
      },
      {
        title: 'Aprender f치cilmente a bailar',
        description:
          'Los usuarios, es especial los que tiene poca experiencia, requieren de un aprendizaje progresigo y sencillo.',
        icon: 'tabler:brand-bandlab',
      },
      {
        title: 'Mejorar mi coordinaci칩n y resistencia en el baile',
        description:
          'Los usuarios especializados necesitan retos, les gusta la variedad, incluso dentro de la misma canci칩n, movimientos representativos..',
        icon: 'tabler:school',
      },
      {
        title: 'Medir y evaluar el progreso de forma individual y grupal',
        description: 'Los usuarios necesitan una manera de evaluar su progreso y ver como lo est치n haciendo.',
        icon: 'tabler:coin',
      },
      {
        title: 'Conocer el procedimiento correcto para una buena rutina',
        description:
          'Los usuarios necesitan algo o alguien que los gu칤e para que puedan copiarlo, algo que les muestre c칩mo deben hacerlo.',
        icon: 'tabler:file-download',
      },
    ]}
  />

  <!-- Testimonials Widget *********** -->

  <!-- CallToAction Widget *********** 
  
  <CallToAction
  actions={[
  {
    variant: 'primary',
    text: 'Start exploring',
    href: '/',
  },
  ]}
  title="Dive into our template collection"
  subtitle="Whether you're in business, design, or education, our templates are here to elevate your projects."
  />
  -->
</Layout>
